<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
        <script type="text/javascript" src="{% static 'js/uikit/uikit.min.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/chatroom/chat.js' %}"></script>
    </head>
    <body>
        <div class="uk-section-large">
            <div class="uk-container-xlarge uk-width-large">
                <div class=" uk-grid">
                    <div class="uk-card uk-card-default uk-border-rounded uk-position-cover uk-padding-large uk-width-2-3">

                        <div class="message_box uk-card-body uk-padding-small">
                        </div>
                        <div class="uk-margin uk-position-bottom" uk-margin>
                            <div class=" uk-grid uk-padding-large">
                                <input class="chat-message-input uk-width-4-5" type="text">
                                <button class="chat_message_submit uk-button uk-button-default uk-width-1-5">投稿</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>

