<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            ID:<input id="username" type="text" size="10" name="username"/><br>
            Pass:<input id="user_password" type="text" size="30" name="user_password" /><br>
            Mail:<input id="user_mailaddress" type="text" size="30" name="user_mailaddress" /><br>
            <input id="submit" type="submit" value="新規作成">
        </form>
    </body>
</html>