<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
  <script type="text/javascript" src="{% static 'js/uikit/uikit.min.js' %}"></script>
</head>
<body>
  {% if lobby_lists %}

    <div class="uk-position-center" uk-grid>

      {% for lobby in lobby_lists %}
        <div class="uk-card uk-card-body uk-card-default uk-width-auto">
          <div class="uk-card-title">
            <a href="/chat/lobby/{{ lobby.id }}/"> {{ lobby.lobby_name }} </a>
          </div>
        </div>
      
        {% endfor %}

    </div>
        
  {% else %}
      <p>No Lobby.</p>
  {% endif %}
    
</body>
</html>